
// Body
$body-bg: #f5f8fa;

// Brands
$brand-primary: rgb(185, 75, 145);
$brand-secondary: rgb(245, 85, 130);
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$brand-gradient: linear-gradient(100deg, $brand-secondary, $brand-primary);

// Borders
$border-color: darken($body-bg, 10%);
$list-group-border: $border-color;
$navbar-default-border: $brand-secondary;
$panel-default-border: $border-color;
$panel-inner-border: $border-color;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #2c3e50;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
